body {
  font-family: Arial;
  margin: 0;
  background: #eeeeee;
}
nav {
  background: #222;
  color: white;
  padding: 15px;
}
nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}
header {
  background: white;
  padding-block: 30px;
  text-align: center;
}
article {
  background: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}
button {
  background: blue;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  padding: 60px 20px;
}
article {
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
button {
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  transform: scale(1.05);
}
input, textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius:8px ;
  font-size: 16px;
}
textarea{
  height: 120px;
}
form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  
}
label{
  font-weight: bold;
}
footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
  margin-top: 20px;
}
.dark-mode {
  background: #121212;
  color: white;
}
.dark-mode article {
  background: #222;
  color: white;
}
.dark-mode header {
  background: #222;
  color: white;
}
.dark-mode form {
  background: #222;
}
.dark-mode input,
.dark-mode textarea {
  background: #333;
  color: white;
  border: 1px solid #555;
}
#searchInput {
  width: 90%;
  padding-block: 12px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size:16px;
}
.hero {
  text-align:center;
  padding:40px 20px;
  margin:20px;
  border-raduis:15px;
}
.hero h1 {
  font-size:35px;
}
.hero p{
  font-size:18px;
}
.post {
  background:white;
  padding:20px
  border-radius:15px;
  box-shadow:0 5px 15px #aaa;
}
.dark-mode. post {
  background:#222;
}
nav {
  display:flex;
  justify-content:space-between;
  align-items:centre;
  padding:15px;
  border-radius:12px;
}
nav a {
  text-decoration:none;
  margin:8px;
  font-weight:bold;
}
nav button {
  padding:8px 12px;
  border-radius:8px;
  cursor:pointer;
}
@media(max-width:600px){
  nav {
    flex-direction:column;
  }
  nav a {
    display:block;
    margin:5px;
  }
  .hero h1 }
font-size:25px;
}
}
.info{
  font-size:14px;
  opacity:0.7;
  margin:bottom:15px;
}
.profile {
  margin:20px;
  padding:25px;
  border-radius:15px;
  text-align:center;
  background:white;
  box-shadow:0 5px 15px #aaa;
}
.dark-mode. profile {
  background:#222,;
}
